@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');


body{
    font-family: 'Poppins', sans-serif;
    background-color: #EBEBEB;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}
.login-right{
    background-color: #878787;
}

.toast{
    text-align: center;
    background-color: rgba(39, 34, 34, 0.781);
    color: white;
    position: fixed;
    top: 0;
    left: auto; /* Centering horizontally */
    right:auto;
    padding: 5px;
    border-radius: 5px;
    z-index: 999;
    font-size: medium;
}
.show{
    animation: toast-anim 0.8s ease forwards; /* Animation */
    text-align: center;
}

@keyframes toast-anim {
    from {
        top: -100px; /* Start position */
        opacity: 0; /* Initially invisible */
    }
    to {
        top: 0; /* End position */
        opacity: 1; /* Fully visible */
    }
}


.link-hov{
    &:hover{
        color: blue;
    }
}
.logo-pic{
    max-width: 45%;
}
.btn-outline-primary{
    color: blue;
    &:hover{
        background-color: blue;
    }
}

